.review-card {
    box-shadow: var(--bs);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    padding: 1em;
    scroll-snap-align: center;
    flex: 0 0 100%;
}

.avatar {
    padding: .5em;
}

.review-rating {
    padding-top: .7em;
    text-align: center;
}

.review-comment {
    text-align: center;
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
    font-family: var(--ff-primary);
}

.no-reviews {
    display: grid;
    place-items: center;
    grid-column: 1/-1;
    height: 20vh;
    font-weight: var(--fw-bold);
    opacity: .5;
}