.product-card {
    min-width: 250px;
    min-height: 350px;
    text-align: center;
    background: var(--clr-dark);
    color: var(--clr-light);
    padding: 0.5em;
    margin: 1em;
    max-width: 250px;
    box-shadow: var(--bs);
}

.product-title {
    font-weight: var(--fw-bold);
    color: var(--clr-sunset-orange);
    margin-top: 1em;
}

.product-poster {
    width: 100%;
    transition: all .5s ease-in-out;
}

.product-rating {
    font-weight: var(--fw-bold);
}

.product-title {
    font-size: var(--fs-body);
}

.img-container {
    overflow: hidden;
}

.product-poster:focus,
.product-poster:hover {
    transform: scale(1.2);
}