.reviews-container {
    grid-column: 1/-1;
    font-size: var(--fs-body);
    font-family: var(--ff-primary);
    justify-self: center;
    display: flex;
    overflow-x: auto;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 1em;
    -webkit-overflow-scrolling: touch;
}