.about-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.about-content {
    text-align: center;
    margin-bottom: 40px;
}

.about-heading {
    font-size: var(--fs-h1);
    color: var(--clr-dark);
    margin-bottom: 20px;
}

.about-description {
    font-size: var(--fs-body);
    color: var(--clr-dark);
    margin-bottom: 20px;
}

.about-mission {
    font-size: var(--fs-body);
    color: var(--clr-dark);
    margin-bottom: 40px;
}

.about-team-heading {
    font-size: var(--fs-h2);
    color: var(--clr-dark);
    margin-bottom: 20px;
}

.about-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-member {
    text-align: center;
    margin: 0 20px 40px;
}

.team-member img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-member h3 {
    font-size: var(--fs-h3);
    color: var(--clr-dark);
    margin-bottom: 10px;
}

.team-member p {
    font-size: var(--fs-body);
    color: var(--clr-dark);
}