.product-details-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    margin-bottom: 1em;
}

.product-img-carousel {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    box-shadow: var(--bs);
    margin-bottom: 1em;
    margin-top: 1em;
    justify-self: end;
}

.product-img-carousel__item {
    width: 100%;
}

.product-details {
    padding: 1em 2em;
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
}

.product-details>* {
    padding: .3em;
    margin-bottom: .7rem;
}

.product-name {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-inline: auto;
    font-family: var(--ff-secondary);
    color: var(--clr-sunset-orange);
    padding: .7em;
    grid-column: 1/-1;
    text-align: center;
    width: max-content;
    background: var(--clr-dark);
    outline: 5px solid var(--clr-sunset-orange);
    outline-offset: 3px;
}

.product-id {
    font-family: var(--ff-secondary);

}

.product-rating {
    font-family: var(--ff-secondary);

}

.stock-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stock-input {
    width: 3rem;
    text-align: center;
    outline: none;
    border: none;
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
}

.product-details {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-header {
    padding-bottom: 0;
    margin-bottom: 0;
}

.product-description {
    font-size: var(--fs-body);
}

.submit-review,
.add-to-cart {
    padding: .5em 2.5em;
}

.product-detail-nav {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-weight: var(--fw-bold);
    color: var(--clr-dark);
    display: flex;
    justify-content: space-around;
    grid-column: 1/-1;
    background: transparent;
    box-shadow: var(--bs);
    margin-bottom: 1em;
    padding: .5em;
}

.product-detail-nav .product-detail-nav__item {
    color: var(--clr-dark);
}

.product-detail-nav__item {
    margin: .5em;
}



@media (min-width: 600px) {
    .product-details-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        justify-items: center;
    }

    .back-btn {
        padding-left: 3em;
    }

    .product-img-carousel {
        width: 50%;
        margin: 3rem;
    }

    .details-container {
        justify-self: start;
    }
}

@media (max-width) {
    .product-name {
        margin-bottom: 2em;
    }
}

.increase-stock-btn,
.decrease-stock-btn {
    cursor: pointer;
    background: var(--clr-dark);
    padding: .2em;
}