.footer-info-container {
    background: var(--clr-dark);
    position: sticky;
    top: 100%;
}

.footer-info {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background: var(--clr-dark);
    color: var(--clr-sunset-orange);
    text-align: center;
    font-size: var(--fs-h3);
    padding: 1em 2em;
}

section {
    margin-bottom: 1em;
}

.section__header {
    color: var(--clr-sunset-orange);
}

.section__content {
    color: var(--clr-light);
    text-align: center;
    font-size: var(--fs-body);
}

.footer-info__about {
    text-align: center;
    margin-bottom: 0;
}

.social-list {
    display: flex;
    justify-content: center;
    margin: 1em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .35em;
}

.social-list__link {
    padding: .5em;
}

.social-list__link:focus,
.social-list__link:hover {
    opacity: .7;
}

.font-icon {
    color: var(--clr-sunset-orange);
}

.footer-info__about {
    padding: 1em 0;
    background: #111;
    margin-top: 1em;
}

.phone-number {
    color: var(--clr-light);
}

.mail {
    text-decoration: underline;
}

/* .container {}? */

@media (min-width: 800px) {
    .footer-info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "moto contact address"
            "about about about";
        grid-column-gap: 1em;
    }

    .footer-info__address {
        grid-area: "address";
        justify-self: center;
    }

    .footer-info__moto {
        grid-area: "moto";
        justify-self: center;
    }

    .footer-info__contact {
        grid-area: "mailus";
        justify-self: center;
    }

    .footer-info__about {
        grid-area: "about";
        grid-column: 1 / -1;
    }
}